html {font-size:62.5%}
body {font-size:12px;margin:0;
	-webkit-font-smoothing: subpixel-antialiased;
 -moz-osx-font-smoothing: auto;
 -webkit-text-size-adjust: none }

.center {padding:0 1px;text-align:center}

.clear {clear:both}

.topButtons {margin:5px 2px;float:left;margin-right:35px}
.topButtons button ,.topButtons button img {vertical-align: bottom}
.topButtons button {border:1px solid grey;background:#fff;padding:3px 10px;display:inline-block;margin-left:0;margin-right:2px}
.topButtons button:first-child {border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
.topButtons button:last-child {border-top-right-radius: 4px;border-bottom-right-radius: 4px;}
.main {margin:0 2px}
.main>div,.main>canvas {float:left}
.main .asideTools {border:1px solid grey;height:100%}
.main .asideTools .title  {text-align:center;font-size:14px;width:80px;margin:0;padding:5px;color:white;background-color:blue}
#asideContants {overflow-y: auto;height:100%;margin:0;padding:0}
#asideContants div {text-align:center;padding:8px 0}
#asideContants div:not(.title):hover {background-color:#bef}/*鼠标移上去后变浅蓝色*/
#asideContants div:not(.title):active {background-color:#9bf}
.main canvas {border:1px solid grey;margin:0 3px}

.rightInfo {width:280px;border:1px solid grey;padding:12px 0;overflow-y: auto}
.rightInfo .title {text-align:center;width:80%;margin:3px auto 3px auto;padding:2px;color:white;background-color:blue}

table.info {width:100%;margin:0 0 5px 0}
table.info .dt {text-align:right;width:32%;padding:2px 5px;white-space: nowrap;vertical-align: top;}
table.info .dc {text-align:left;width:68%;padding:2px 4px;}
table.info .dc input[type=text],table.info .dc select {width:85%}
table.info .dc textarea {width:150px;height:80px}

table.info .dd {text-align:left;width:68%;font:1em kaiti}

.rightMenu {background-color:white;border:1px solid grey}
.rightMenu ul {list-style:none;margin:2px;padding:0px}
.rightMenu ul li:hover {background-color:#bef}/*鼠标移上去后变浅蓝色*/
.rightMenu ul li:active {background-color:#9bf}
.rightMenu ul li a {padding:3px 20px;cursor:default}

/*模态对话框*/
.modal h1 {margin:6px 30px}
.modal div {margin:10px 30px;}
.modal textarea {border:1px solid grey;width:100%;height:330px;overflow:scroll;color:blue;resize:none}
#xmlArea {white-space:pre}
.modal .btnContainer {margin:20px 1px;}


