body {font-size:8px;margin:0}

.center {padding:0 1px;text-align:center}

.topButtons {margin:5px 2px}
.topButtons button ,.topButtons button img {vertical-align: bottom}
.topButtons button {border:1px solid grey;background:#fff;padding:3px 10px;display:inline-block;margin-right:-4px}
.topButtons button:first-child {border-radius: 4px 0 0 4px;}
.topButtons button:last-child {border-radius: 0 4px 4px 0}
.main {margin:0 2px}
.main>div,.main>canvas {float:left}
.main .clear {clear:both}
.main .asideTools {border:1px solid grey;height:100%}
.main .asideTools .title  {text-align:center;font-size:8px;width:80px;margin:0;padding:5px;color:white;background-color:blue}
#asideContants {overflow-y: auto;height:100%;margin:0;padding:0}
#asideContants div {text-align:center;padding:8px 0}
#asideContants div:not(.title):hover {background-color:#bef}/*鼠标移上去后变浅蓝色*/
#asideContants div:not(.title):active {background-color:#9bf}
.main canvas {border:1px solid grey;margin:0 3px}

.rightInfo {width:280px;border:1px solid grey;padding:12px 0;overflow-y: auto}
.rightInfo .title {text-align:center;width:80%;margin:3px auto 3px auto;padding:2px;color:white;background-color:blue}

table.info {width:100%;margin:0 0 5px 0}
table.info .dt {text-align:right;width:32%;padding:2px 5px;white-space: nowrap;vertical-align: top;}
table.info .dc {text-align:left;width:68%;padding:2px 4px;}
table.info .dc input[type=text],table.info .dc select {width:85%}
table.info .dc textarea {width:150px;height:80px}

table.info .dd {text-align:left;width:68%;font:6px/14px kaiti}

.rightMenu {background-color:white;border:1px solid grey}
.rightMenu ul {list-style:none;margin:2px;padding:0px}
.rightMenu ul li:hover {background-color:#bef}/*鼠标移上去后变浅蓝色*/
.rightMenu ul li:active {background-color:#9bf}
.rightMenu ul li a {padding:3px 20px;cursor:default}

/*模态对话框*/
.modal h1 {margin:6px 30px}
.modal div {margin:10px 30px;}
.modal textarea {border:1px solid grey;width:100%;height:330px;overflow:scroll;color:blue;resize:none}
.modal .btnContainer {margin:20px 1px;}


