body {font-size:8px}
.topButtons {margin:5px 0}
.main>div {float:left}
.main .clear {clear:both}
.main .asideTools {border:1px solid grey}
.main .asideTools .title  {text-align:center;font-size:8px;width:80px;padding:5px;color:white;background-color:blue}
.main .asideTools div {text-align:center;margin:0 0 20px 0}
.main canvas {border:1px solid grey;margin:0 3px}